* {
    font-family: "Lexend", sans-serif;
    overflow-x: hidden;
}

#header {
    background: #007bff;
    color: #ffffff;
    #app {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
    }
}

.nav-pills{
    font-size: 1.1rem;
    font-weight: 500;
}
.titulo {
    overflow-y: hidden;
    font-size: 1.8rem;
    font-weight: 400;
    color: #007bff;
}

.table {
    margin-bottom: 8rem;
    th {
        color: #007bff;
        font-size: 1rem;
    }
    tr {
        cursor: pointer;
    }
    .btn_excluir {
        color: red;
        transition: 0.5s;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.resultado{
    font-size: 2.5rem;
    font-weight: 600;
    color: #007bff;
}

.grafico{
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: zoomin;
    box-shadow: 0 5px 10px rgba(154,160,185,.5), 0 0px 20px rgba(166,173,201,.40);
    border-radius: 20px;
    transition: 0.8s;
    background: #fff;

    .titulo{
        font-size: 1.5rem;
    }
    
}
.grafico:hover{
    box-shadow: -2px 5px 15px rgba(154,160,185,.6), 5px 10px 20px rgba(166,173,201,.7);
    
}

#footer {
    background: #007bff;
    color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
    transition: 1s;
    a {
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        color: #ffffff;
    }
}
