@keyframes zoomin {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

*{
    font-family: 'Lexend', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

#header{
    background: #007BFF;
    color: #ffffff;
    .nav-link{
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        transition: 0.5s;
        &:hover{
            font-size: 1.05rem;
            transform: scale(1.05);
        }
    }

}

.titulo{
    animation-duration: 1s;
    animation-name: zoomin;
    overflow-y: hidden;
    font-size: 2.5rem;
    font-weight: 400;
    color: #0088c7;
}



#footer {
    background: #007BFF;
    color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
    transition: 1s;
    a {
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        color: #ffffff;
    }
}